.timelineContainer {
  position: relative;
  height: 85vh;
  overflow-x: scroll;
  padding: 1rem 0;
}

.zoomContainer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.timelineBar {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #555;

  .tickmark {
    position: absolute;
    width: 1rem;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;

    .tickmarkMark {
      display: block;
      width: 10px;
      height: 10px;
      background: #333;
      border-radius: 50%;
      position: absolute;
      top: -3px; /* Adjust to center on the line */
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    .tickmarkLabel {
      position: relative;
      top: 8px;
    }
  }
}

.eventsContainer {
  position: relative;
  margin-top: 1.5rem;
}
